---
layout: markdown_page
title: Enablement Sub-department
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

Enablement’s vision is to support the ongoing success of GitLab by providing a responsive and performant application that is safe and easy to install and maintain. We want to encourage customer focus by providing accurate telemetry data and encourage customer trust by delivering disaster recovery solutions of integrity.

## Mission

Enablement focuses on improving our capabilities and metrics in the following areas:

 * [Distribution](/handbook/engineering/development/enablement/distribution)
 * [Ecosystem](/handbook/engineering/development/enablement/ecosystem)
 * [Fulfillment](/handbook/engineering/development/enablement/fulfillment)
 * [Geo (Disaster Recovery)](/handbook/engineering/development/enablement/geo)
 * [Memory](/handbook/engineering/development/enablement/memory)

## Department Members

The following people are permanent members of the Enablement Sub-department:

<%
DEPARTMENTS = ['Distribution', 'Ecosystem', 'Geo' , 'Fulfillment', 'Memory']
INTERIM_MANAGER_DEPARTMENTS = ['Fulfillment']
DEPARTMENT_REGEXP = /(#{Regexp.union(DEPARTMENTS)})/
%>

<%=  direct_team(role_regexp: DEPARTMENT_REGEXP, manager_role: 'Director of Engineering, Enablement') %>

## All Team Members

The following people are permanent members of teams that belong to the Enablement Sub-department:

<% DEPARTMENTS.each do |dep| %>
### <%= dep %>
  <% manager_role = INTERIM_MANAGER_DEPARTMENTS.include?(dep) ? "Engineering Manager, #{dep} (Interim)" : "Engineering Manager, #{dep}" %>
  <%= direct_team(manager_role: manager_role) %>
<% end %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Enablement/, direct_manager_role: 'Director of Engineering, Enablement') %>

## Common Links

 * [Distribution - Helm Charts Kanban Board](https://gitlab.com/charts/gitlab/boards/925761)
 * [Distribution - Omnibus Kanban Board](https://gitlab.com/gitlab-org/omnibus-gitlab/boards/289804)
 * [Fulfillment Kanban Board](https://gitlab.com/groups/gitlab-org/-/boards/928182?label_name[]=Fulfillment)
 * [Geo Kanban Board](https://gitlab.com/groups/gitlab-org/-/boards/1034254)
 * Enablement team [#dev-enablement](https://gitlab.slack.com/messages/CHJK0EVAM) in Slack
 * Distribution team [#g_distribution](https://gitlab.slack.com/messages/C1FCTU4BE) in Slack
 * Fulfillment team [#g_fulfillment](https://gitlab.slack.com/messages/CF7J2FURE) in Slack
 * Fulfillment standup [#g_fulfillment_daily](https://gitlab.slack.com/messages/CHSFHDHL7) in Slack
 * Geo team [#g_geo](https://gitlab.slack.com/messages/C32LCGC1H) in Slack
 * Geo standup [#geo-standup](https://gitlab.slack.com/messages/C7U95P909) in Slack
